## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<section class="static-container about">

  <h1>A propos</h1>

  <p>Arval Formation est une initiative d’Arval, société filiale du Groupe BNP Paribas, leader de la Location Longue Durée de véhicules (LLD).</p>
  <p>Le COOC Arval a pour objectif de former aux fondamentaux de la gestion de parc automobile en LLD toute personne débutant dans cette nouvelle mission.</p>
  <p>Cette formation a été élaborée par Arval conjointement avec des gestionnaires de parc confirmés. Elle abordera gratuitement, de façon simple et pratique, 100% des sujets inhérents à ce métier.</p>

  <h2>Qu’est-ce qu’un COOC&nbsp;?</h2>

  <p>Un COOC (Corporate Open Online Course) est une formation en ligne gratuite proposée par une entreprise afin de former les acteurs du marché.</p>
  <p>Un COOC comprend les caractéristiques suivantes&nbsp;:</p>
  <ul>
    <li>Un <em>contenu pédagogique ludique</em>&nbsp;: des vidéos et des activités à réaliser sont proposées chaque semaine</li>
    <li>Un <em>planning flexible</em>&nbsp;: les participants avancent à leur rythme, en veillant toutefois à respecter les échéances éventuelles</li>
    <li>Une <em>accessibilité totale</em>&nbsp;: 7J/7 24H/24 et multiples supports (tablette, smartphone, ordinateur)</li>
    <li>Une <em>équipe encadrante complémentaire</em>&nbsp;: des experts métiers et des animateurs sont en charge de concevoir et d’animer la formation.</li>
    <li>Une <em>communauté vivante</em>&nbsp;: les participants échangent sur un forum ou dans le cadre d’activités collaboratives.</li>
  </ul>

</section>
