## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>A propos</title></%block>

<section class="static-container about">
  <h2>A propos</h2>
  <p>MOOC Safran University est une initiative de Safran University qui fait suite au challenge MOOC.</p>

  <p>Démarche de résolution de problème qui a déjà fait la preuve de son efficacité  sur plusieurs sites du Groupe, le QRQC a été retenu lors du challenge MOOC début 2015 pour son impact sur la performance opérationnelle.  Fort de ce mandat, Safran University vous propose une formation destinée à tous et résolument novatrice dans son format, mêlant vidéos, forums et quiz interactifs.</p>

  <p>Entièrement en ligne, le MOOC vous permet de vous former à votre rythme et de profiter des bonnes pratiques des meilleurs coaches Safran de la démarche QRQC ainsi que de nombreux témoignages de terrain des collaborateurs vivant le QRQC au quotidien. L'occasion d'échanger et de bénéficier de leur expérience.</p>

  <p>Ce MOOC est le premier d'une offre qui ira croissante en 2016. Puissants leviers de partage de connaissances à l'échelle du Groupe, les formations digitales déployés par Safran University permettent de répondre au plus près de vos besoins avec toujours plus d'agilité.</p>

</section>
