## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Contact</title></%block>

<section class="static-container contact">
  <h2>Contact</h2>
  <p>En cas de question / remarque sur l’utilisation de la plate-forme MOOC Safran University, nous sommes à votre écoute à l’adresse <a href="mailto:moocsafranuniversity@unow.fr">moocsafranuniversity@unow.fr</a>. </p>
</section>
