## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('Contact')}</title></%block>

<section class="static-container about">

  <h1>Contact</h1>

  <p>En cas de question / remarque sur l’utilisation de la plate-forme Arval Formation, nous sommes à votre écoute à l’adresse <a href="mailto:arval.formation@unow.fr">arval.formation@unow.fr</a>.</p>

</section>
