<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

<div class="cta cta-login">
  <h3 class="title">${_("Already registered?")}</h3>
  <p class="instructions">
    <a class="cta-login-action" href="${reverse('signin_user')}${login_query()}">
      ${_("Log in")}
    </a>
  </p>
</div>

% endif

<div class="cta cta-welcome">
  <h3>BIENVENUE SUR MOOC SAFRAN UNIVERSITY</h3>
  <p>MOOC Safran University est une initiative de Safran University. Puissants leviers de partage de connaissances à l'échelle du Groupe, les formations digitales déployés par Safran University permettent de répondre au plus près de vos besoins avec toujours plus d'agilité.</p>
</div>

<div class="cta cta-nextsteps">
  <h3>Étapes suivantes</h3>
  <p>En rejoignant MOOC Safran University, vous recevrez un mail d'activation. Vous devrez cliquer sur le lien d'activation pour compléter l'inscription. Vous ne voyez pas le mail ? Vérifiez votre dossier de spam et marquez les mails provenant de MOOC Safran University (envoyés par moocsafranuniversity@unow.fr) comme n'étant pas du spam.</p>
</div>

<div class="cta cta-help">
  <h3>Besoin d’aide&nbsp;?</h3>
  <p>Besoin d'aide pour vous inscrire ou pour suivre une formation sur MOOC Safran University ? Une fois inscrit(e), la plupart des réponses aux questions se trouvent dans les forums de discussions spécifiques aux cours. Vous pouvez aussi nous écrire à l’adresse <a href="mailto:arval.formation@unow.fr">moocsafranuniversity@unow.fr</a>.</p>
</div>
